/* Defines colors for the application */

:root {
  --color-primary: rgb(65 95 145);
  --color-on-primary: rgb(255 255 255);
  --color-primary-container: rgb(214 227 255);
  --color-on-primary-container: rgb(40 71 119);

  --color-secondary: rgb(86 95 113);
  --color-on-secondary: rgb(255 255 255);
  --color-secondary-container: rgb(218 226 249);
  --color-on-secondary-container: rgb(62 71 89);

  --color-tertiary: rgb(112 85 117);
  --color-on-tertiary: rgb(255 255 255);
  --color-tertiary-container: rgb(250 216 253);
  --color-on-tertiary-container: rgb(87 62 92);

  --color-error: rgb(186 26 26);
  --color-on-error: rgb(255 255 255);
  --color-error-container: rgb(255 218 214);
  --color-on-error-container: rgb(147 0 10);

  --color-background: rgb(249 249 255);
  --color-on-background: rgb(25 28 32);

  --color-surface: rgb(249 249 255);
  --color-on-surface: rgb(25 28 32);
  --color-surface-variant: rgb(224 226 236);
  --color-on-surface-variant: rgb(100 105 115);
  --color-surface-tint: rgb(65 95 145);

  --color-outline: rgb(116 119 127);
  --color-outline-variant: rgb(196 198 208);

  --color-shadow: rgb(0 0 0);
  --color-scrim: rgb(0 0 0);

  --color-inverse-surface: rgb(46 48 54);
  --color-inverse-on-surface: rgb(240 240 247);
  --color-inverse-primary: rgb(170 199 255);

  --color-primary-fixed: rgb(214 227 255);
  --color-on-primary-fixed: rgb(0 27 62);
  --color-primary-fixed-dim: rgb(170 199 255);
  --color-on-primary-fixed-variant: rgb(40 71 119);

  --color-secondary-fixed: rgb(218 226 249);
  --color-on-secondary-fixed: rgb(19 28 43);
  --color-secondary-fixed-dim: rgb(190 198 220);
  --color-on-secondary-fixed-variant: rgb(62 71 89);

  --color-tertiary-fixed: rgb(250 216 253);
  --color-on-tertiary-fixed: rgb(40 19 46);
  --color-tertiary-fixed-dim: rgb(221 188 224);
  --color-on-tertiary-fixed-variant: rgb(87 62 92);

  --color-surface-dim: rgb(217 217 224);
  --color-surface-bright: rgb(249 249 255);

  --color-surface-container-lowest: rgb(255 255 255);
  --color-surface-container-low: rgb(243 243 250);
  --color-surface-container: rgb(237 237 244);
  --color-surface-container-high: rgb(231 232 238);
  --color-surface-container-highest: rgb(226 226 233);
}

.dark {
  --color-primary: rgb(170 199 255);
  --color-on-primary: rgb(10 48 95);
  --color-primary-container: rgb(40 71 119);
  --color-on-primary-container: rgb(214 227 255);

  --color-secondary: rgb(190 198 220);
  --color-on-secondary: rgb(40 49 65);
  --color-secondary-container: rgb(62 71 89);
  --color-on-secondary-container: rgb(218 226 249);

  --color-tertiary: rgb(221 188 224);
  --color-on-tertiary: rgb(63 40 68);
  --color-tertiary-container: rgb(87 62 92);
  --color-on-tertiary-container: rgb(250 216 253);

  --color-error: rgb(255 180 171);
  --color-on-error: rgb(105 0 5);
  --color-error-container: rgb(147 0 10);
  --color-on-error-container: rgb(255 218 214);

  --color-background: rgb(17 19 24);
  --color-on-background: rgb(226 226 233);

  --color-surface: rgb(17 19 24);
  --color-on-surface: rgb(226 226 233);
  --color-surface-variant: rgb(68 71 78);
  --color-on-surface-variant: rgb(150 155 165);
  --color-surface-tint: rgb(170 199 255);

  --color-outline: rgb(142 144 153);
  --color-outline-variant: rgb(68 71 78);

  --color-shadow: rgb(0 0 0);
  --color-scrim: rgb(0 0 0);

  --color-inverse-surface: rgb(226 226 233);
  --color-inverse-on-surface: rgb(46 48 54);
  --color-inverse-primary: rgb(65 95 145);

  --color-primary-fixed: rgb(214 227 255);
  --color-on-primary-fixed: rgb(0 27 62);
  --color-primary-fixed-dim: rgb(170 199 255);
  --color-on-primary-fixed-variant: rgb(40 71 119);

  --color-secondary-fixed: rgb(218 226 249);
  --color-on-secondary-fixed: rgb(19 28 43);
  --color-secondary-fixed-dim: rgb(190 198 220);
  --color-on-secondary-fixed-variant: rgb(62 71 89);

  --color-tertiary-fixed: rgb(250 216 253);
  --color-on-tertiary-fixed: rgb(40 19 46);
  --color-tertiary-fixed-dim: rgb(221 188 224);
  --color-on-tertiary-fixed-variant: rgb(87 62 92);

  --color-surface-dim: rgb(17 19 24);
  --color-surface-bright: rgb(55 57 62);

  --color-surface-container-lowest: rgb(12 14 19);
  --color-surface-container-low: rgb(25 28 32);
  --color-surface-container: rgb(29 32 36);
  --color-surface-container-high: rgb(40 42 47);
  --color-surface-container-highest: rgb(51 53 58);
}

@theme {
  --color-primary: var(--color-primary);
  --color-on-primary: var(--color-on-primary);
  --color-primary-container: var(--color-primary-container);
  --color-on-primary-container: var(--color-on-primary-container);

  --color-secondary: var(--color-secondary);
  --color-on-secondary: var(--color-on-secondary);
  --color-secondary-container: var(--color-secondary-container);
  --color-on-secondary-container: var(--color-on-secondary-container);

  --color-tertiary: var(--color-tertiary);
  --color-on-tertiary: var(--color-on-tertiary);
  --color-tertiary-container: var(--color-tertiary-container);
  --color-on-tertiary-container: var(--color-on-tertiary-container);

  --color-warning: var(--color-warning);
  --color-on-warning: var(--color-on-warning);
  --color-warning-container: var(--color-warning-container);
  --color-on-warning-container: var(--color-on-warning-container);

  --color-error: var(--color-error);
  --color-on-error: var(--color-on-error);
  --color-error-container: var(--color-error-container);
  --color-on-error-container: var(--color-on-error-container);

  --color-background: var(--color-background);
  --color-on-background: var(--color-on-background);

  --color-surface: var(--color-surface);
  --color-on-surface: var(--color-on-surface);
  --color-surface-variant: var(--color-surface-variant);
  --color-on-surface-variant: var(--color-on-surface-variant);
  --color-surface-tint: var(--color-surface-tint);

  --color-outline: var(--color-outline);
  --color-outline-variant: var(--color-outline-variant);

  --color-shadow: var(--color-shadow);
  --color-scrim: var(--color-scrim);

  --color-inverse-surface: var(--color-inverse-surface);
  --color-inverse-on-surface: var(--color-inverse-on-surface);
  --color-inverse-primary: var(--color-inverse-primary);

  --color-primary-fixed: var(--color-primary-fixed);
  --color-on-primary-fixed: var(--color-on-primary-fixed);
  --color-primary-fixed-dim: var(--color-primary-fixed-dim);
  --color-on-primary-fixed-variant: var(--color-on-primary-fixed-variant);

  --color-secondary-fixed: var(--color-secondary-fixed);
  --color-on-secondary-fixed: var(--color-on-secondary-fixed);
  --color-secondary-fixed-dim: var(--color-secondary-fixed-dim);
  --color-on-secondary-fixed-variant: var(--color-on-secondary-fixed-variant);

  --color-tertiary-fixed: var(--color-tertiary-fixed);
  --color-on-tertiary-fixed: var(--color-on-tertiary-fixed);
  --color-tertiary-fixed-dim: var(--color-tertiary-fixed-dim);
  --color-on-tertiary-fixed-variant: var(--color-on-tertiary-fixed);

  --color-surface-dim: var(--color-surface-dim);
  --color-surface-bright: var(--color-surface-bright);

  --color-surface-container-lowest: var(--color-surface-container-lowest);
  --color-surface-container-low: var(--color-surface-container-low);
  --color-surface-container: var(--color-surface-container);
  --color-surface-container-high: var(--color-surface-container-high);
  --color-surface-container-highest: var(--color-surface-container-highest);
}

@custom-variant dark (&:where(.dark, .dark *));
