/* Defines colors for the application */

:root {
  --color-primary: rgb(0 104 116);
  --color-on-primary: rgb(255 255 255);
  --color-primary-container: rgb(158 239 253);
  --color-on-primary-container: rgb(0 79 88);

  --color-secondary: rgb(74 98 103);
  --color-on-secondary: rgb(255 255 255);
  --color-secondary-container: rgb(205 231 236);
  --color-on-secondary-container: rgb(51 75 79);

  --color-tertiary: rgb(82 94 125);
  --color-on-tertiary: rgb(255 255 255);
  --color-tertiary-container: rgb(218 226 255);
  --color-on-tertiary-container: rgb(59 70 100);

  --color-warning: rgb(150 92 0);
  --color-on-warning: rgb(255 255 255);
  --color-warning-container: rgb(255 221 178);
  --color-on-warning-container: rgb(76 46 0);

  --color-error: rgb(186 26 26);
  --color-on-error: rgb(255 255 255);
  --color-error-container: rgb(255 218 214);
  --color-on-error-container: rgb(147 0 10);

  --color-background: rgb(245 250 251);
  --color-on-background: rgb(23 29 30);

  --color-surface: rgb(245 250 251);
  --color-on-surface: rgb(23 29 30);
  --color-surface-variant: rgb(219 228 230);
  --color-on-surface-variant: rgb(63 72 74);

  --color-outline: rgb(111 121 122);
  --color-outline-variant: rgb(191 200 202);

  --color-shadow: rgb(0 0 0);
  --color-scrim: rgb(0 0 0);

  --color-inverse-surface: rgb(43 49 51);
  --color-inverse-on-surface: rgb(236 242 243);
  --color-inverse-primary: rgb(130 211 224);

  --color-primary-fixed: rgb(158 239 253);
  --color-on-primary-fixed: rgb(0 31 36);
  --color-primary-fixed-dim: rgb(130 211 224);
  --color-on-primary-fixed-variant: rgb(0 79 88);

  --color-secondary-fixed: rgb(205 231 236);
  --color-on-secondary-fixed: rgb(5 31 35);
  --color-secondary-fixed-dim: rgb(177 203 208);
  --color-on-secondary-fixed-variant: rgb(51 75 79);

  --color-tertiary-fixed: rgb(218 226 255);
  --color-on-tertiary-fixed: rgb(14 27 55);
  --color-tertiary-fixed-dim: rgb(186 198 234);
  --color-on-tertiary-fixed-variant: rgb(59 70 100);

  --color-surface-dim: rgb(213 219 220);
  --color-surface-bright: rgb(245 250 251);

  --color-surface-container-lowest: rgb(255 255 255);
  --color-surface-container-low: rgb(239 245 246);
  --color-surface-container: rgb(233 239 240);
  --color-surface-container-high: rgb(227 233 234);
  --color-surface-container-highest: rgb(222 227 229);
}

.dark {
  --color-primary: rgb(130 211 224);
  --color-on-primary: rgb(0 54 61);
  --color-primary-container: rgb(0 79 88);
  --color-on-primary-container: rgb(158 239 253);

  --color-secondary: rgb(177 203 208);
  --color-on-secondary: rgb(28 52 56);
  --color-secondary-container: rgb(51 75 79);
  --color-on-secondary-container: rgb(205 231 236);

  --color-tertiary: rgb(186 198 234);
  --color-on-tertiary: rgb(36 48 77);
  --color-tertiary-container: rgb(59 70 100);
  --color-on-tertiary-container: rgb(218 226 255);

  --color-warning: rgb(255 185 95);
  --color-on-warning: rgb(80 46 0);
  --color-warning-container: rgb(114 74 0);
  --color-on-warning-container: rgb(255 221 178);

  --color-error: rgb(255 180 171);
  --color-on-error: rgb(105 0 5);
  --color-error-container: rgb(147 0 10);
  --color-on-error-container: rgb(255 218 214);

  --color-background: rgb(14 20 21);
  --color-on-background: rgb(222 227 229);

  --color-surface: rgb(14 20 21);
  --color-on-surface: rgb(222 227 229);
  --color-surface-variant: rgb(63 72 74);
  --color-on-surface-variant: rgb(191 200 202);

  --color-outline: rgb(137 146 148);
  --color-outline-variant: rgb(63 72 74);

  --color-shadow: rgb(0 0 0);
  --color-scrim: rgb(0 0 0);

  --color-inverse-surface: rgb(222 227 229);
  --color-inverse-on-surface: rgb(43 49 51);
  --color-inverse-primary: rgb(0 104 116);

  --color-primary-fixed: rgb(158 239 253);
  --color-on-primary-fixed: rgb(0 31 36);
  --color-primary-fixed-dim: rgb(130 211 224);
  --color-on-primary-fixed-variant: rgb(0 79 88);

  --color-secondary-fixed: rgb(205 231 236);
  --color-on-secondary-fixed: rgb(5 31 35);
  --color-secondary-fixed-dim: rgb(177 203 208);
  --color-on-secondary-fixed-variant: rgb(51 75 79);

  --color-tertiary-fixed: rgb(218 226 255);
  --color-on-tertiary-fixed: rgb(14 27 55);
  --color-tertiary-fixed-dim: rgb(186 198 234);
  --color-on-tertiary-fixed-variant: rgb(59 70 100);

  --color-surface-dim: rgb(14 20 21);
  --color-surface-bright: rgb(52 58 59);

  --color-surface-container-lowest: rgb(9 15 16);
  --color-surface-container-low: rgb(23 29 30);
  --color-surface-container: rgb(27 33 34);
  --color-surface-container-high: rgb(37 43 44);
  --color-surface-container-highest: rgb(48 54 55);
}

@theme {
  --color-primary: var(--color-primary);
  --color-on-primary: var(--color-on-primary);
  --color-primary-container: var(--color-primary-container);
  --color-on-primary-container: var(--color-on-primary-container);

  --color-secondary: var(--color-secondary);
  --color-on-secondary: var(--color-on-secondary);
  --color-secondary-container: var(--color-secondary-container);
  --color-on-secondary-container: var(--color-on-secondary-container);

  --color-tertiary: var(--color-tertiary);
  --color-on-tertiary: var(--color-on-tertiary);
  --color-tertiary-container: var(--color-tertiary-container);
  --color-on-tertiary-container: var(--color-on-tertiary-container);

  --color-warning: var(--color-warning);
  --color-on-warning: var(--color-on-warning);
  --color-warning-container: var(--color-warning-container);
  --color-on-warning-container: var(--color-on-warning-container);

  --color-error: var(--color-error);
  --color-on-error: var(--color-on-error);
  --color-error-container: var(--color-error-container);
  --color-on-error-container: var(--color-on-error-container);

  --color-background: var(--color-background);
  --color-on-background: var(--color-on-background);

  --color-surface: var(--color-surface);
  --color-on-surface: var(--color-on-surface);
  --color-surface-variant: var(--color-surface-variant);
  --color-on-surface-variant: var(--color-on-surface-variant);

  --color-outline: var(--color-outline);
  --color-outline-variant: var(--color-outline-variant);

  --color-shadow: var(--color-shadow);
  --color-scrim: var(--color-scrim);

  --color-inverse-surface: var(--color-inverse-surface);
  --color-inverse-on-surface: var(--color-inverse-on-surface);
  --color-inverse-primary: var(--color-inverse-primary);

  --color-primary-fixed: var(--color-primary-fixed);
  --color-on-primary-fixed: var(--color-on-primary-fixed);
  --color-primary-fixed-dim: var(--color-primary-fixed-dim);
  --color-on-primary-fixed-variant: var(--color-on-primary-fixed-variant);

  --color-secondary-fixed: var(--color-secondary-fixed);
  --color-on-secondary-fixed: var(--color-on-secondary-fixed);
  --color-secondary-fixed-dim: var(--color-secondary-fixed-dim);
  --color-on-secondary-fixed-variant: var(--color-on-secondary-fixed-variant);

  --color-tertiary-fixed: var(--color-tertiary-fixed);
  --color-on-tertiary-fixed: var(--color-on-tertiary-fixed);
  --color-tertiary-fixed-dim: var(--color-tertiary-fixed-dim);
  --color-on-tertiary-fixed-variant: var(--color-on-tertiary-fixed);

  --color-surface-dim: var(--color-surface-dim);
  --color-surface-bright: var(--color-surface-bright);

  --color-surface-container-lowest: var(--color-surface-container-lowest);
  --color-surface-container-low: var(--color-surface-container-low);
  --color-surface-container: var(--color-surface-container);
  --color-surface-container-high: var(--color-surface-container-high);
  --color-surface-container-highest: var(--color-surface-container-highest);
}

@custom-variant dark (&:where(.dark, .dark *));
