/* Defines the font styles for the application */

:root {
  /* Fonts */
  --font-serif: var(--font-fraunces, serif);
  --font-sans: var(--font-ibm-plex-sans, sans-serif);
  --font-mono: var(--font-jetbrains-mono, monospace);
  --font-cursive: var(--font-allura, cursive);

  /* Font sizes (fluid) */
  --font-xs: clamp(0.7813rem, 0.7938rem + -0.0161vw, 0.7901rem);
  --font-sm: clamp(0.8889rem, 0.869rem + 0.0884vw, 0.9375rem);
  --font-md: clamp(1rem, 0.9489rem + 0.2273vw, 1.125rem);
  --font-lg: clamp(1.125rem, 1.033rem + 0.4091vw, 1.35rem);
  --font-xl: clamp(1.2656rem, 1.1207rem + 0.6443vw, 1.62rem);
  --font-2xl: clamp(1.4238rem, 1.211rem + 0.9458vw, 1.944rem);
  --font-3xl: clamp(1.6018rem, 1.3028rem + 1.3291vw, 2.3328rem);
  --font-4xl: clamp(1.802rem, 1.394rem + 1.8133vw, 2.7994rem);

  /* Line heights */
  --line-height-xs: 1.2;
  --line-height-sm: 1.4;
  --line-height-md: 1.6;
  --line-height-lg: 1.8;
  --line-height-xl: 2;

  /* Spacing */
  --tracking-xs: -0.05rem;
  --tracking-sm: -0.025rem;
  --tracking-md: 0rem;
  --tracking-lg: 0.025rem;
  --tracking-xl: 0.05rem;
  --tracking-2xl: 0.1rem;
}

@theme {
  --font-serif: var(--font-serif);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-cursive: var(--font-cursive);

  --text-xs: var(--font-xs);
  --text-sm: var(--font-sm);
  --text-md: var(--font-md);
  --text-lg: var(--font-lg);
  --text-xl: var(--font-xl);
  --text-2xl: var(--font-2xl);
  --text-3xl: var(--font-3xl);
  --text-4xl: var(--font-4xl);

  --leading-tight: var(--line-height-xs);
  --leading-snug: var(--line-height-sm);
  --leading-normal: var(--line-height-md);
  --leading-relaxed: var(--line-height-lg);
  --leading-loose: var(--line-height-xl);

  --tracking-tighter: var(--tracking-xs);
  --tracking-tight: var(--tracking-sm);
  --tracking-normal: var(--tracking-md);
  --tracking-wide: var(--tracking-lg);
  --tracking-wider: var(--tracking-xl);
  --tracking-widest: var(--tracking-2xl);
}
