/* Main CSS Entry File. */

@import 'tailwindcss';

@import 'katex/dist/katex.min.css';

@import './colors.css';
@import './fonts.css';

/* Hide scrollbar for all browsers */

html {
  overflow: hidden;
}

body {
  overflow: visible;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
